//ABOUT ME
* {
    outline: 1px solid rgba(255,0,0,0.4);
    box-sizing: border-box;
}

#about-me {
    z-index: 3;
    background: #e3e1d2;
    overflow: hidden;
    position: relative;

    /*
    .col-right {
        background: #efece2 !important;
    }
    */
    .about {
        transform: translateY(40px);
    }
    .description {
        padding-top: 50px;
    }
    img {
        width: 75%;
        margin-left: 50px;
        border: 3px solid #626262;
        padding: 10px;
    }
    
}

