$header-background:#fd1f29;
$header-background-2:#f25957;
$background: #f0776c;
$lila : #d76d83;
    
body {
    font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    background: #ffffff;
    position: relative;
    height: 100%;
    min-height: 100%;
    
    .flowers-topleft,
    .flowers-topright,
    .flowers-bottomright,
    .flowers-bottomleft {
        background-size: cover !important;
        position: absolute;
        width: 50%;
        height: 50%;
        display: none;
        -webkit-transition: -webkit-transform 1s;
        transform: transform 1s;
        position: fixed;
        z-index: 50;
    }
    .flowers-topleft {
        top: 0%;
        left: -8%;
        height: 60%;
        background: url(elements-oh-flowers-DNVR2M-2016-06-09/15.png) no-repeat right bottom;
    }
    .flowers-topright {
        top: 0%;
        right: 0%;
        background: url(elements-oh-flowers-DNVR2M-2016-06-09/22.png) no-repeat left bottom;
    }
    .flowers-bottomright {
        bottom: 0%;
        height: 58%;
        right: 0%;
        width: 50%;
        background: url(elements-oh-flowers-DNVR2M-2016-06-09/19.png) no-repeat left top;
    }
    .flowers-bottomleft {
        bottom: 0%;
        left: 0%;
        background: url(elements-oh-flowers-DNVR2M-2016-06-09/16.png) no-repeat right top;
    }
}

header {
    //background: $lila;
    background: radial-gradient(#f0776c, #d76d83); 
    height: 100%;
    
    h1 {
        font-family: 'Sacramento';
        position: relative;
        top:40%;
        margin: 0 auto;
        color:beige;
        font-weight: bold;
        font-size: 50px;
        border-bottom: 1px solid white;
        width: 450px;
        padding: 10px 10px;
    }
    p{
        font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
        position: relative;
        top:42%;
        margin: 0 auto;
        color:beige;
        font-weight: 300;
        font-size: 20px;
        width: 300px;
        padding: 10px 40px;
    }
    .glyphicon-chevron-down {
        position: relative;
        top: 400px;
        left:660px;
        cursor:pointer;
        font-size: 30px;
        color:#fff;	
    }
}

.flowers-leaves 
{
    top: 0px;
    
    .flowers-topleft {
        transform: translate(-44%, -44%);
    }
    .flowers-topright {
         transform: translate(44%, -44%);
    }
    .flowers-bottomright {
        transform: translate(44%, 44%);
    }
    .flowers-bottomleft {
        transform: translate(-44%, 44%);
    }  
}

//FIN EJEMPLO
.container-nav {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: #d76d83 !important;
}
.navbar-fixed-top {
    position: fixed;
    padding-left: 30%;
    z-index: 10;
    padding-right: 30%;
}
.navbar-inverse {
    background-color: $lila !important;
    border-color: $lila !important;
    color: #fff !important;
    font-weight: 100 !important;
}
.nav li a {
    padding: 20px 28px;
}
.navbar-inverse .navbar-nav>.active>a {
    background-color: $lila !important; 
    
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    background-color: #f0776c !important; 
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff !important; 
}

