body {
    font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #333333;
    background: #ffffff;
    position: relative;
    height: 100%;
    min-height: 100%;
    
    .flowers-topleft,
    .flowers-topright,
    .flowers-bottomright,
    .flowers-bottomleft {
        background-size: cover !important;
        position: absolute;
        width: 50%;
        height: 50%;
        display: none;
        -webkit-transition: -webkit-transform 1s;
        transform: transform 1s;
        position: fixed;
        z-index: 50;
    }
    .flowers-topleft {
        top: 0%;
        left: -8%;
        height: 60%;
        background: url(/elements-oh-flowers-DNVR2M-2016-06-09/21.png) no-repeat right bottom;
    }
    .flowers-topright {
        top: 0%;
        right: 0%;
        background: url(/elements-oh-flowers-DNVR2M-2016-06-09/22.png) no-repeat left bottom;
    }
    .flowers-bottomright {
        bottom: 0%;
        height: 58%;
        right: 0%;
        width: 50%;
        background: url(/elements-oh-flowers-DNVR2M-2016-06-09/19.png) no-repeat left top;
    }
    .flowers-bottomleft {
        bottom: 0%;
        left: 0%;
        background: url(/elements-oh-flowers-DNVR2M-2016-06-09/16.png) no-repeat right top;
    }
}

.transition,
.scrollDown * {
    transition: all 0.3s ease-in-out;
}
 
header,
section,
footer {
    position: relative;
}

header {
    background: #f25957;
    height: 100%;
    
    h1 {
        position: relative;
        top:40%;
        margin: 0 auto;
        color:beige;
        font-weight: bold;
        font-size: 50px;
        border: 1px solid white;
        width: 250px;
        padding: 10px 10px;
    }
}

.flowers-leaves 
{
    top: 0px;
    
    .flowers-topleft {
        transform: translate(-44%, -44%);
    }
    .flowers-topright {
         transform: translate(44%, -44%);
    }
    .flowers-bottomright {
        transform: translate(44%, 44%);
    }
    .flowers-bottomleft {
        transform: translate(-44%, 44%);
    }  
}

//EJEMPLO
#section2 {
    padding-top:50px;height:500px;color: #fff; background-color: #673ab7;
}
#section3 {
    padding-top:50px;height:500px;color: #fff; background-color: #ff9800;
}
#section4 {
    padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;
}
//FIN EJEMPLO
.container-nav {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.navbar-fixed-top {
    position: fixed;
    left: 30%;
    z-index: 1030;
    right: 30%;
}
.navbar-inverse {
    background-color: none !important;
    border-color: #080808;
}
.nav li a {
    padding: 25px 30px;
}


