@media (max-width: 991px) {
  
    body {
        
        #about-me {
            .col-right {
            position: relative;
            top: inherit;
            bottom: inherit;
            right: inherit;
            left: inherit;
            width: 100%;
            height: 400px;
          }
        }
        &:after {
            display: none;
        }
        .flowers-topleft {
            transform: translate(-10%, -10%);
        }
        .flowers-topright {
            transform: translate(10%, -10%);
        }
        .flowers-bottomright {
            transform: translate(10%, 10%);
        }
        .flowers-bottomleft {
            transform: translate(-10%, 10%);
        }  
        .flowers-leaves {
            .flowers-topleft {
                transform: translate(-55%, -55%);
            }    
            .flowers-topright {
                transform: translate(55%, -55%);
            }
            .flowers-bottomright {
                transform: translate(55%, 55%);
            }
            .flowers-bottomleft {
                transform: translate(-60%, 60%);
            } 
            
        }
    } 
}
    
  
  