#portfolio {
    background: #e3e1d2;
}
.dg-wrapper {
    div {
        transform: translateY(40px);
        
        button {
            
            display: inline-block;
            background-color: #F87060;
            cursor: pointer;
            color: white;
            font-weight: bold;
        }
        button:hover {
            background-color: #848484;
            color:#fff;
            font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
            font-style: normal;
        }
    }
}
