/************************SKILLS************************/
#skills {
    background-color: #efece2;
}
.texto h3{
  font-size: 17px;
  margin-bottom: 5px;
  padding-top: 5px;
  font-weight: bold;
}
.texto h3:hover{
  color: #F87060;
}
.pulse {
    padding: 0;
    display: inline-block;
    i{
        width: 20px;
    }
}

img {border: none;}

#skill { 
	list-style:none; 
	padding-top:30px;
    padding-left: 20px;
    padding-right: 110px;
}

#skill li { 
	margin-bottom:50px; 
	background:#333; 
	height:15px; 
	border-radius:10px; 
	border:2px solid #222;
}

#skill li em { 
    font-size:18px;
	position:relative; 
	top:-30px;
    font-style: normal;
    font-weight:700;

}
.animatable {
  
  /* initially hide animatable objects */
  visibility: hidden;
  
  /* initially pause animatable objects their animations */  
  animation-play-state: paused; 
}

/* show objects being animated */
.animated {
  visibility: visible;
  animation-fill-mode: both;
  animation-play-state: running;
}

.expand { 
	height:10px; 
	margin:2px; 
    border-radius:10px;
	background:linear-gradient(to right, #f7a56c 0%,#e46885 100%); 
	position:absolute;
	box-shadow:0px 0px 3px 1px rgba(234,224,172,0.6);
}

.ps      { 
    width:80%; 
    -webkit-animation:ps 10s ease-out;     
}
.indd   { 
    width:70%; 
    -webkit-animation:indd 10s ease-out;   
}
.ai    { 
    width:50%;  
    -webkit-animation:ai 10s ease-out;       
}
.fla    { width:40%;  
    -webkit-animation:fla 10s ease-out;       
}
.html   { width:60%;  
    -webkit-animation:html 10s ease-out;       
}
.css    { width:20%;  
    -webkit-animation:css 10s ease-out;        
}


@-webkit-keyframes ps         { 0%  { width:0px;} 100%{ width:80%;}  }
@-webkit-keyframes indd       { 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes ai         { 0%  { width:0px;} 100%{ width:50%;} }
@-webkit-keyframes fla        { 0%  { width:0px;} 100%{ width:40%;} }
@-webkit-keyframes html       { 0%  { width:0px;} 100%{ width:60%;} }
@-webkit-keyframes css        { 0%  { width:0px;} 100%{ width:20%;}  }

